:root {
  --epic-red: #450e02;
  --epic-red-opacity: rgba(69, 15, 1, 0.7);
  --light-gray: #d9d7d7;
  --black-opacity: rgba(0, 0, 0, 0.09);
  --url-white-bkgrd: url("https://i.imgur.com/zF8fZ5k.jpg");
  --url-black-bkgrd: url("https://i.imgur.com/nK3V6T8.jpg");
}

/* Login Form */
#loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#loginForm {
  background-color: var(--black-opacity);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px var(--epic-red);
  width: clamp(15rem, 100vw, 25rem);
  margin: 10px;
}

#loginForm h1 {
  color: var(--epic-red);
}

#socialLogin {
  display: flex;
  flex-direction: column;
}

#socialLogin button:hover {
  transform: scale(1.02);
  background-color: white;
  color: red;
}
