:root {
  --epic-red: #450e02;
  --epic-red-opacity: rgba(69, 15, 1, 0.7);
  --light-gray: #d9d7d7;
  --black-opacity: rgba(0, 0, 0, 0.09);
  --url-white-bkgrd: url("https://i.imgur.com/zF8fZ5k.jpg");
  --url-black-bkgrd: url("https://i.imgur.com/nK3V6T8.jpg");
}

/* Login Form */
#loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#loginForm {
  background-color: var(--black-opacity);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px var(--epic-red);
  width: clamp(15rem, 100vw, 25rem);
  margin: 10px;
}

#loginForm h1 {
  color: var(--epic-red);
}

#socialLogin {
  display: flex;
  flex-direction: column;
}

#socialLogin button:hover {
  transform: scale(1.02);
  background-color: white;
  color: red;
}

#loginOr {
  text-align: center;
  font-size: 1.2rem;
  color: var(--epic-red);
}

.userAndPwdForm {
  display: flex;
  flex-direction: column;
}

.userAndPwdForm svg {
  align-self: center;
  justify-self: center;
}

.login-form-group {
  display: flex;
  border: 1px solid var(--light-gray);
  background-color: white;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.userAndPwdInput {
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 78%;
}

.loginLabels {
  font-size: 1.9rem;
  color: var(--epic-red);
  padding-right: 10px;
  border-right: 1px solid var(--light-gray);
}

.loginSubmit {
  /* margin-top: 10px; */
  padding: 10px;
}

#togglePwd {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  color: var(--epic-red);
  font-size: 1.3rem;
}

#loginFlowSelect {
  display: flex;
  justify-content: space-around;
  border: 5px solid var(--epic-red);
  /* padding: 10px; */
  border-radius: 10px;
}

#loginFlowSelect div {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

#loginFlowSelect div:nth-child(1) {
  border-right: 5px solid var(--epic-red);
}

.image-upload {
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  margin-right: -67px;
  margin-top: 73px;
}

.editPhotoIcon {
  width: 2.1rem;
  height: 2.1rem;
  background: white;
  border-radius: 50%;
  border: 2px solid gray;
  padding: 2px;
  color: var(--epic-red);
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.photoEditContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 0 0 10px 10px;
}

.photoEditZoomer {
  display: flex;
  justify-content: center;
  align-items: center;
}
