@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto+Condensed:wght@300;400&display=swap");

:root {
  --epic-red: #450e02;
  --epic-red-opacity: rgba(69, 15, 1, 0.7);
  --light-gray: #d9d7d7;
  --black-opacity: rgba(0, 0, 0, 0.09);
  --url-white-bkgrd: url("https://i.imgur.com/zF8fZ5k.jpg");
  --url-black-bkgrd: url("https://i.imgur.com/nK3V6T8.jpg");
}

body {
  background-image: var(--url-white-bkgrd);
  font-family: "Oswald", sans-serif;
}

.fiveTwentyFourContainer,
.loyaltyContainer,
.cardDetailsContainer,
.cardHoldersContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.cardDetailsBody {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(0.6rem, 5vw, 1rem);
}

#cardDetailsSectionRight {
  flex: 1;
}

#cardDetailsSectionRight .card {
  margin-bottom: 1rem;
  flex: 1;
}

.navContainer {
  /* background-color: var(--epic-red); */
  padding: 0;
  margin-bottom: 10px;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallNavContainer {
  background-color: var(--epic-red);
  padding: 0;
  margin-bottom: 10px;
  min-height: 3rem;
}

#smallNavTopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.navFull {
  padding: 10px 0;
  text-decoration: none;
  color: var(--black-opacity);
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.navSmallContent {
  display: flex;
  flex-direction: column;
  color: white;
}

.smallNavContainer nav a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
}

.navContainer nav a {
  text-decoration: none;
  color: var(--epic-red);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
}

.navSmallContent a {
  margin-bottom: 5px;
}

#burgerContainer {
  display: flex;
  background: var(--epic-red);
  align-items: center;
  justify-content: space-between;
}

#burger {
  min-height: 3rem;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.navFull a:hover {
  background-color: var(--black-opacity);
  color: var(--epic-red);
}

.navSmallContent a:hover {
  background-color: var(--light-gray);
  color: var(--epic-red);
}

#userImg {
  color: white;
  padding-right: 5px;
}

#userDisplayName {
  height: 100%;
  margin: 0;
}
.sectionHeaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-opacity);
  padding: 10px;
  border-radius: 10px;
  color: var(--epic-red);
  margin-bottom: 1rem;
}

.inputLabels {
  background-color: var(--black-opacity);
  padding: 5px 5px 5px 10px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardsDropDownContainer .labels {
  background-color: var(--black-opacity);
  color: var(--epic-red);
}

.field input,
.form-group select {
  border-radius: 0 0 10px 10px;
}

.form-group {
  padding: 10px 0;
}

.radioField {
  background-color: white;
  padding-left: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(222, 226, 230);
}

div.alert-danger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  transform: scale(1.5);
}

.nav-tabs .nav-item .nav-link {
  color: var(--epic-red);
  background-color: var(--black-opacity);
  border-bottom: 2px solid var(--epic-red);
}

.nav-tabs .nav-item .nav-link.active {
  color: #fff;
  background-color: var(--epic-red);
  font-weight: bold;
}

.tableHeader > svg {
  cursor: pointer;
}

.editDeleteCells {
  max-width: 5rem;
}

.editDeleteCard > button {
  margin-right: 5px;
}

.accordion {
  text-align: left;
}

.rounded-circle {
  transition: all 0.2s ease-in-out;
}

.rounded-circle:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 2px black;
}

#cardBody,
#loyaltyCardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.loyaltyCardTitle {
  padding: 5px 5px 5px 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cardholderCardBody {
  display: flex;
  flex-direction: column;
  padding: 5px 20px 15px 20px;
  margin-top: 40px;
}

.cardholderCardTitle {
  margin: 0;
  text-decoration: bold;
  display: flex;
  justify-content: center;
  height: 4rem;
  background-color: var(--black-opacity);
}

#cardholderCardName {
  text-align: center;
  margin: 10px 0 20px 0px;
  color: var(--epic-red);
  font-size: 18px;
}

#cardBody:hover {
  background-color: var(--black-opacity);
  cursor: pointer;
}

.cardBodyLabels {
  font-weight: bold;
}

#cardCardContainer {
  display: flex;
  flex-wrap: wrap;
}

#cardCardContainer > * {
  margin: 7px;
}

.editDeleteOnCards {
  padding: 10px 5px 10px 0;
  width: 100%;
  background-color: var(--black-opacity);
  text-align: right;
  border-radius: 0 0 5px 5px;
}

.issuerLogos {
  height: 2.5rem;
  width: 4rem;
  object-fit: contain;
  border: 1px solid var(--light-gray);
  padding: 2px;
  border-radius: 10px;
  background-color: var(--black-opacity);
}

.loyaltyLogos {
  height: 2.5rem;
  width: 4.5rem;
  object-fit: contain;
  border: 1px solid var(--light-gray);
  padding: 3px;
  border-radius: 10px;
  background-color: var(--black-opacity);
}

form {
  max-width: 55rem;
  margin: 0 auto;
}

.addButton {
  background-color: var(--epic-red);
  border-color: var(--epic-red);
  float: right;
}

.modalHeader {
  color: var(--epic-red);
  background-color: var(--black-opacity);
}

.list-group-item {
  padding-left: 0;
  border: none;
}

.notesFooter {
  display: flex;
  justify-content: center;
  /* padding: 10px 15px; */
  background-color: var(--black-opacity);
}

.notesFooter button {
  margin-left: 10px;
}

.cardDetailsFieldHeaders {
  font-weight: bold;
  font-size: clamp(0.9rem, 5vw, 1.2rem);
}

.cardHeaders,
.accordion-button,
.accordion-button[aria-expanded="true"] {
  font-weight: bold;
  color: var(--epic-red);
  background-color: var(--black-opacity);
  text-align: left;
  font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.bureauImgs {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0 4px 0 0;
  object-fit: cover;
}

.bureauImgs[alt="experian"] {
  border: 1px solid #d92b80;
  border-radius: 50%;
  padding: 2px;
  padding: 2px;
  background-color: var(--light-gray);
}

#five24AccordionHeader .accordion-button {
  font-size: 0.9rem;
  background-color: var(--black-opacity);
}

#cardFilterContainer {
  display: flex;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
}

#cardFilterUserSelect {
  width: clamp(9rem, 11rem, 20rem);
  padding: 10px;
  background-color: var(--light-gray);
  border-radius: 10px 0 0 10px;
  color: var(--epic-red);
}

#cardFilterInput {
  border: none;
  flex: 1;
  border-radius: 0 10px 10px 0;
  padding-left: 10px;
}

.cardTabsFilterInput {
  padding-left: 10px;
  border: 2px solid var(--light-gray);
  float: right;
  height: 2.67rem;
  border-radius: 10px 10px 10px 0;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  height: 18px;
  width: 18px;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  /* setup all the background tweaks for our custom icon */
  background-repeat: no-repeat;
  /* icon size */
  background-size: 18px;
  border: 2px solid var(--black-opacity);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--black-opacity);
}

.cardholderCard {
  box-shadow: 0 0 15px gray;
  border: 10px solid var(--black-opacity);
}

.cardholderDataSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 240, 240);
  padding: 5px 8px;
  border-radius: 10px;
}

.cardholderDataSection * {
  margin: 0;
}

.dataTableTd {
  width: min(18rem, 14rem);
}

.dataTableDataSection {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: gray;
  text-align: center;
}

.cardholderFooter {
  background-color: var(--black-opacity);
  border-radius: 0;
}

.image-upload {
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  margin-right: -100px;
  margin-top: 122px;
}

.editPhotoIcon {
  width: 2.1rem;
  height: 2.1rem;
  background: white;
  border-radius: 50%;
  border: 2px solid gray;
  padding: 2px;
  color: #0080ff;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"] {
  color: transparent;
}

input[type="range"] {
  padding: 10px;
  color: red;
}

.photoEditZoomer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoEditContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 0 0 10px 10px;
}

.smaller-table {
  font-size: 0.9rem;
}
